html {
  font-size: 62.5%; /* 10px === 1 rem */
}

.img-container {
  width: 40vw;
  height: 100vh;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sign-up-form {
  display: flex;
}

.form-layout {
  text-align: center;
  width: 60%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}

form {
  padding: 5rem;
  margin: 0.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.492);
}

.form-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 65%;
  
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}